* {
  box-sizing;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1 {
  font-size: 40px;
  padding-top: 50px;
}
#subtitle {
  padding-top: 20px;
  width: 50%;
  height: 100%;
  margin-bottom: 25px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.container {
  width: 70%;
  margin: 0 auto;
}

.container-small {
  width: 900px;
  margin: auto;
}
/* --------------------------------------------- */
/* per il floating delle 4 celle dell'header: */
.cella-header {
  width: 50%;
  height: 60px;
  float: left;
  line-height: 60px;
}
.container-float::after {
  content:"";
  display: table;
  clear:both;
}
/* ---------------------------------------- */
.link {
  text-decoration: none;
  color: black;
}
.cella-dx {
  text-align: right;
}



#logo {
  width: 20%;
  vertical-align: middle;
}

/* #testologo {
  text-align: center;
  margin: auto;
} */
ul.navbar li {
  list-style-type: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}
.button {
  background-color: #ed7d5b;
  font-size: 20px;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
}

.sub-container {
  text-align: center;
}

#book-img {
  width: 100px;
  padding-bottom: 15px;
}

#learnmore-tab {
  width:100px;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  float: left;
}

#freehub-tab {
  float: left;
  width: 600px;
  margin-left: 70px;
  margin-top: 40px;
}

#cont-widget1 {
  background-color: white;
  height: 250px;
  margin-top: 30px;
  border-radius: 3%;
}

#popolar-feat {
  width: 160px;
  float: left;
}


.cont-widget-vertical {
  width: 250px;
  height: 500px;
  background-color: white;
  margin-top: 30px;
  border-radius: 3%;
  float: left;
}

#widget-3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


#widget-4 {
  position: absolute;
  right: 0px;
}

#cont-totale-widget {
  width: 900px;
  height: 400px;
  margin: auto;
  position: relative;
}


/* sezione interna widget verticali */

.icon-widget {
  width: 100px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
}

.h3-widget {
  padding-top: 10px;
  text-align: center;
}
.p-widget {
  line-height: 25px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.rule {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-widget {
  text-align: center;
  margin-bottom: 10px;
}
 ul {
   list-style: none;

 }

 #sales-ico {
   width: 50%;
 }
 #service-ico {
   width: 36%;
 }

/* ------------------------------------------- */
.fa {
  color: #ed7d5b;
}

.row-small {
  width: 500px;
  margin-top: 30px;
}

.linea {
  margin-top: 10px;
  margin-left: 30px;
  height: 1px;
  width: 200px;
  background-color: black;
  float: left;
}
.button-wdgt {
  width: 90px;
  height: 20px;
  background-color: #ed7d5b;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-top: 40px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
/* .sub-container, p {
  text-align: center;
} */
#header-1 {
  background-color: #f5f9fd;
  height: 60px;
  border-bottom: 1px solid black;
}
#header-2 {
  background-color: white;
  height: 60px;
}

#main-1 {
  background-color: #fdf2ef;
  background-image: url(../img/background-houses.png);
  height: 600px;
  background-size: cover;
  background-position: top right;
}

#main-2 {
  background-color: #f5f9fd;
  height: 1200px;
}

#main-3 {
  /* background-color: #4da9b9; */
  background-image: linear-gradient(to right, #4da9bb , #55bba6);
  height: 700px;
}

#main-4 {
  background-color: white;
  height: 400px;
}

#footer-1{
  background-color: #34475a;
  height: 400px;


}
/* sezione main 3 */
.title-main3 {
  color: white;
  text-align: center;
  padding: 30px;
}

.tabella {
  height: 400px;
  width: 100%;
}

.riga {
  height: 40%;
  width: 100%;
  margin: auto;
}
.cella {
  width: 23%;
  height: 100%;
  float: left;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  border: 1px solid white;
  border-top: 0px;
}














.fa-handshake-o {
  color: white;
}

.riga-cella {
  font-size: 10px;
  color: white;
}

.riga-cella-big {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* ----debug---- */
