* {
  box-sizing;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.container {
  width: 75%;
  margin: 0 auto;
}
/* --------------------------------------------- */
/* per il floating delle 4 celle dell'header: */
.cella-header {
  width: 50%;
  height: 60px;
  float: left;
  line-height: 60px;
}
.container-float::after {
  content:"";
  display: table;
  clear:both;
}
/* ---------------------------------------- */
.link {
  text-decoration: none;
  color: black;
}
.cella-dx {
  text-align: right;
}

#logo {
  width: 20%;
}
ul.navbar li {
  list-style-type: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}


#header-1 {
  background-color: #f5f9fd;
  height: 60px;
  border-bottom: 1px solid black;
}
#header-2 {
  background-color: white;
  height: 60px;
}

#main-1 {
  background-color: #fdf2ef;
  height: 400px;
}

#main-2 {
  background-color: #f5f9fd;
  height: 800px;
}

#main-3 {
  background-color: #4da9b9;
  height: 400px;
}

#main-4 {
  background-color: white;
  height: 400px;
}

#footer-1{
  background-color: #34475a;
  height: 400px;


}
