* {
  box-sizing;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1 {
  font-size: 40px;
  padding-top: 50px;
}
#subtitle {
  padding-top: 20px;
  width: 50%;
  height: 100%;
  margin-bottom: 25px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.container {
  width: 70%;
  margin: 0 auto;
}

.container-small {
  width: 60%;
  margin: auto;
}
/* --------------------------------------------- */
/* per il floating delle 4 celle dell'header: */
.cella-header {
  width: 50%;
  height: 60px;
  float: left;
  line-height: 60px;
}
.container-float::after {
  content:"";
  display: table;
  clear:both;
}
/* ---------------------------------------- */
.link {
  text-decoration: none;
  color: black;
}
.cella-dx {
  text-align: right;
}



#logo {
  width: 20%;
  vertical-align: middle;
}

/* #testologo {
  text-align: center;
  margin: auto;
} */
ul.navbar li {
  list-style-type: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}
.button {
  background-color: #ed7d5b;
  font-size: 20px;
  color: white;
  padding: 10px 24px;
  border-radius: 5%;
  border: none;
  text-align: center;
}

.sub-container {
  text-align: center;
}

#book-img {
  width: 100px;
  padding-bottom: 15px;
}

#learnmore-tab {
  width:100px;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  float: left;
}

#freehub-tab {
  float: left;
}

#cont-widget1 {
  background-color: white;
  height: 250px;
}

.button-wdgt {
  width: 10px;
  height: 6px;
  background-color: #ed7d5b;
  border-radius: 10%;
  padding: 5px;
}
/* .sub-container, p {
  text-align: center;
} */
#header-1 {
  background-color: #f5f9fd;
  height: 60px;
  border-bottom: 1px solid black;
}
#header-2 {
  background-color: white;
  height: 60px;
}

#main-1 {
  background-color: #fdf2ef;
  background-image: url(../img/background-houses.png);
  height: 600px;
  background-size: cover;
  background-position: top right;
}

#main-2 {
  background-color: #f5f9fd;
  height: 1000px;
}

#main-3 {
  background-color: #4da9b9;
  height: 400px;
}

#main-4 {
  background-color: white;
  height: 400px;
}

#footer-1{
  background-color: #34475a;
  height: 400px;


}


/* ----debug---- */
